@font-face {
  font-family: "DINPro";
  src: url("/assets/fonts/DINPro-Light.eot");
  src: url("/assets/fonts/DINPro-Light.eot#iefix") format("embedded-opentype"),
    url("/assets/fonts/DINPro-Light.woff2") format("woff2"),
    url("/assets/fonts/DINPro-Light.woff") format("woff"),
    url("/assets/fonts/DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("/assets/fonts/DINPro-Medium.eot");
  src: url("/assets/fonts/INPro-Medium.eot#iefix") format("embedded-opentype"),
    url("/assets/fonts/DINPro-Medium.woff2") format("woff2"),
    url("/assets/fonts/DINPro-Medium.woff") format("woff"),
    url("/assets/fonts/DINPro-Medium.ttf") format("truetype"),
    url("/assets/fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("/assets/fonts/DINPro-Black.eot");
  src: url("/assets/fonts/DINPro-Black.eot#iefix") format("embedded-opentype"),
    url("/assets/fonts/DINPro-Black.woff2") format("woff2"),
    url("/assets/fonts/DINPro-Black.woff") format("woff"),
    url("/assets/fonts/DINPro-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Eurostile Extended";
  src: url("/assets/fonts/EurostileLTStd-BoldEx2.eot");
  src: url("/assets/fonts/EurostileLTStd-BoldEx2.eot#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/EurostileLTStd-BoldEx2.woff2") format("woff2"),
    url("/assets/fonts/EurostileLTStd-BoldEx2.woff") format("woff"),
    url("/assets/fonts/EurostileLTStd-BoldEx2.ttf") format("truetype"),
    url("/assets/fonts/EurostileLTStd-BoldEx2.svg#EurostileLTStd-BoldEx2")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
/* start of contact */
.contact {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding-bottom: 50px;
  padding-left: 37px;
  padding-right: 20px;
  padding-top: 30px;
}

.contact h2 {
  color: #9d1f2b;
  line-height: 100%;
  margin: 20px 0px 10px 0px;
  font-family: "Eurostile Extended";
  margin-bottom: 30px;
  font-size: 22px;
}
.contact-info-container {
  width: 40%;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.contact-address p {
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 0px;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0;
  font-family: DINPro;
  margin-top: 0 !important;
}
.contact-img img {
  width: 129px;
  height: 179px;
}
.btn-dir {
  font-size: 13px;
  background: #9d1f2b;
  color: #ffffff;
  padding: 8px 15px;
  margin-top: 10px;
  font: revert;
  vertical-align: baseline;
  font-family: DINPro;
  border: none;
}

.contact-btn {
  vertical-align: baseline;
  font-family: DINPro;
  background: #9d1f2b;
  color: #ffffff;
  padding: 13px 20px;
  display: inline-block;
  font-size: 13px;
  margin-top: 100px;
  border: none;
}

.contact-container {
  display: flex;
  gap: 80px;
}

.contact-input label {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  font-family: DINPro;
}

.contact-input input {
  width: 100%;
  height: 21px;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
  border-radius: 0;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  font-weight: 300;
}

.form-submit {
  background: #9d1f2b;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  font-family: DINPro;
  margin-top: 20px;
}

/* End of contact */
