body {
    background: rgb(177, 173, 173);
}
.container {
    background: white;
    max-width: 1200px;
    padding: 30px 20px;
    margin: 50px auto;
    height: fit-content;
}
.content {
    display: flex;
    flex-direction: row;
}
.image_container > div{
    width: 100%;
}
.image_container img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
}
.content_container {
    padding: 0 20px;
    font-family: 'DINPro';
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
}
.content_container p {
    padding: 0px 0px 14px;
    margin: 0;
}
.services_list_tab {
    margin: 40px 0 30px;
}
.services_list_tab ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_list_tab ul li {
    font-weight: 500;
    font-size: 18px;
    color: #af2331;
    border-right: 1px solid black;
    padding: 5px 20px 14px 0px;
    margin-left: 20px;
    cursor: pointer;
    color: black;
}
.services_list_tab ul li:hover {
    color: #af2331;
}